<div class="container container-fluid" style="padding:50px ;">
  <table class="table thumbnail " >
    <thead class="thead-dark">

      <tr>
        <th scope="col">ID Etudiant</th>
        <th scope="col">nom Etudiant</th>
        <th scope="col"> prenom Etudiant</th>
        <th scope="col">  Datenaissance Etudiant</th>
        <th scope="col"> option Etudiant</th>
        <th scope="col"> Picture</th>
      </tr>
    </thead>
    <tbody  >
      <tr *ngFor="let item of e">
        <td>{{item.idEtudiant}}</td>
        <td>{{item.nomE}}</td>
        <td>{{item.prenomE}}</td>
        <td>{{item.date_naissance}}</td>
        <td>{{item.option}}</td>
        <td style="width:100px ; border-radius:2px;  border-width:0.5ch; border-color:rgb(107, 112, 247) ;"><img src={{item.picture}}></td>
      </tr>
    </tbody>

  </table>
</div>
