
  
  <div class="container" style=" height:100%; " *ngFor=" let item of listetudiants">
    <app-nav-etudiant></app-nav-etudiant>
    <div class="row " style="background-color:rgb(183, 181, 181);">
      <div class="col col-sm-6 "style="padding:15px ">
  <img src={{item.picture}} class="card-img-top" style="border-width: 2ch; border-radius: 10px; border-block-color: black ;" >
  <div class=" row cont_button" style="display: flex;
  justify-content: space-between; height: min-content;"
   >
    <button type="button" style="margin:5px"  [routerLink]="['/etudiants/update/',item.idEtudiant]" class="btn btn-outline-secondary">Update</button>
    <button type="button" style="margin:5px"  (click)="DeleteEtudiant(item)"  class="btn btn-outline-danger"  >Delete</button>
   
  </div>
     </div>
       <div class="col col-sm-6" style=
       "display: flex;
       flex-direction:column; 
       justify-content: center space-between;
       padding-left: 5%;
       font-size: large;
       color: rgb(53, 0, 123);
       margin-top: 5px;">
        <h2 class=" card-title">{{item.nomE}} {{item.prenomE}}</h2>
        <h2 class=" card-title">{{item.date_naissance}}</h2>
        <h2 class=" card-title">{{item.option}}</h2>
        </div>
       
 </div>

</div>












