<div class="container " style=" padding-left: 50px; padding-right: 50px;">

<div class="row">
  <button  class="btn btn-outline-primary" [routerLink]="['/etudiants/add'] ">new Student</button>
 <div class="  row" style="padding-top: 15px;">
  <div class="col-md-2">
    <div class="row">
      <div class="col">
        <label class="mat-label">Entrer un critére </label>
      </div>
      <div class="col">
        <input class="form-control" type="text"  [(ngModel)]="critereage" >
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button class=" btn btn-outline-warning" [routerLink]="['/etudiants/statistics',critereage]" >Statistic Age </button>
  </div>
 
 </div>

</div>
<div class="input-group" style="margin-bottom: 10px; padding-top: 15px;">
  <input type="search" class="form-control rounded"  placeholder="Search" name="search" [(ngModel)]="searchText"  aria-label="Search" aria-describedby="search-addon" autocomplete="on" />
</div>
<div class="container col " style="  margin-top: 5px; display: flex; flex-direction: column ;justify-content: space-beetween; 
 " *ngFor=" let item of listetudiants |  filter:searchText ; let i=index" >
<app-item-etudiant [etudiant]="item" (deleteEtudiant)="DeleteEtudiant(item)"></app-item-etudiant>

</div>

</div>


