



<form #f="ngForm" class="container" style="padding: 20%;" >
  <div class="form-group ">
    <div>
      <label class="col-sm-2 col-form-label col-form-label-sm">id dep: * </label>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="depUniv.iddep"  name="idDep"
             pattern="{3,12}$" #n="ngModel">
      <div class="alert alert-danger" *ngIf="n.invalid && n.touched">
        <div *ngIf="n.hasError('required')">
          this field is required
        </div>
        <div *ngIf="n.hasError('pattern')">
          error pattern
        </div>
      </div>
      <div   *ngIf="!n.invalid " class="alert alert-success" role="alert">
        success
      </div>
    </div>
  </div>
  <div class="form-group">
    <div>
      <label  class="col-sm-2 col-form-label col-form-label-sm">id univ</label>
      <input type="text" class="form-control form-control-sm"[(ngModel)]="depUniv.iduniv" name="idUniv"  #p="ngModel">
      <div class=" alert alert-danger" *ngIf="p.invalid && p.touched">
        <div *ngIf="p.hasError('required')">
          this field is required
        </div>
        <div *ngIf="p.hasError('pattern')">
          error pattern
        </div>
      </div>
      <div   *ngIf="!p.invalid " class="alert alert-success" role="alert">
        success
      </div>
    </div>
  </div>


  <div class="form-group">
    <button class=" btn btn-outline-primary"style="margin:5px" type=" submit" style="margin-top:4%"     [disabled]="f.invalid"   (click)="saveDep()" >save dep</button>
  </div>

</form>

