
<div class="container container-fluid" style="padding: 20px; ">

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-etudiant nav-link active" style="color:rgb(2, 67, 54);font-size: large;" id="nav-equipes-tab" data-toggle="tab" [routerLink]="['/etudiants/etudiantequipes',etudiant.idEtudiant]" role="tab" aria-controls="nav-home" aria-selected="true"> Etudiant Equipes</a>
      <a class="nav-etudiant nav-link " style="color:rgb(2, 67, 54);font-size: large;" id="nav-contrats-tab" data-toggle="tab" [routerLink]="['/etudiants/etudiant-contrat',etudiant.idEtudiant]" role="tab" aria-controls="nav-profile" aria-selected="false">Etudiant contrats</a>
      <a class="nav-etudiant nav-link " style="color:rgb(2, 67, 54);font-size: large;" id="nav-contrats-tab" data-toggle="tab" [routerLink]="['/etudiants/department-etudiant',etudiant.idEtudiant]" role="tab" aria-controls="nav-profile" aria-selected="false">Etudiant Department</a>

    </div>
</nav>
<div class=" row " style="background-color:#81aeb4; border-radius: 10px;">
    <div class="col col-sm-6 "style="padding:40px ">
<img src={{etudiant.picture}} class="card-img-top img-thumbnail" alt="thumbnail"  style="border-width: 1ch; border-radius: 10px ; display: block;" >
<div class=" row cont_button" style="display: flex;
justify-content: space-between; height: min-content;"
 >
  <button type="button" style="margin:5px"  [routerLink]="['/etudiants/update/',etudiant.idEtudiant]" class="btn btn-warning">Update</button>
  <button type="button" style="margin:5px"   (click)="delete()"  class="btn btn-danger" >Delete</button>
</div>
   </div>
     <div class="col col-sm-6" style=
     "display: flex;
     padding:100;
     flex-direction:column; 
     justify-content: center space-around;
     padding-left: 5%;
     font-size: large;
     color: #FFF;
   ">
   <div class="container" style=" border-radius: 10px; padding-top: 15px;">
      <app-detail-etudiant [etudiant1]="etudiant" ></app-detail-etudiant></div>

    
    </div>
     
</div>


</div>