<form>
    <div class="form-group">
        <div>
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Nom Etudiant</label>
            <input type="text" class="form-control form-control-sm" name="nomE" id="colFormLabelSm" placeholder="">
        </div>
        <div>
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Prenom Etudiant</label>
            <input type="text" class="form-control form-control-sm" name="penomE" id="colFormLabelSm" placeholder="">
        </div>
       
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <select class=" select-control mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose option</option>
                <option value="1">GAMIX</option>
                <option value="2">IA</option>
              </select>
            </div>
            </div>
    </div>
</form>
